input {
    keyboard {
        xkb {
            layout ""
            model ""
            rules ""
            variant ""
        }
        repeat-delay 600
        repeat-rate 25
        track-layout "global"
    }
    touchpad {
        tap
        natural-scroll
    }
    mouse
}
screenshot-path "~/Pictures/Screenshots/Screenshot_%Y%m%d-%H%M%S.png"
layout {
    gaps 16
    struts {
        left 0
        right 0
        top 0
        bottom 0
    }
    focus-ring { off; }
    border {
        width 4
        active-color "#89b4fa"
        inactive-color "#6c7086"
    }
    default-column-width
    center-focused-column "never"
    shadow {
        on
    }
}
cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 24
}
animations

environment
output "eDP-1" {
    variable-refresh-rate

    mode "1920x1200@48.001"

    scale 1.0

    transform "normal"
    position x=1920 y=0
}
spawn-at-startup "noctalia"

window-rule {
    opacity 0.9
}
window-rule {
    match is-focused=true
    background-effect {
        blur true
    }
}

blur {
    passes 10
}

gestures {
    hot-corners {
        top-left
    }
}
binds {
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    Mod+D repeat=false { spawn-sh "pkill fuzzel || fuzzel"; }
    Mod+T repeat=false { spawn "ghostty"; }
    Mod+Space repeat=false { spawn "pkill" "fuzzel" "||" "fuzzel"; }
    Mod+Right { focus-column-right; }
    Mod+Up { focus-column-first; }
    Mod+Down { focus-column-last; }
    Mod+Q repeat=false { close-window; }
    Mod+R { switch-preset-column-width; }
    Mod+Left { focus-column-left; }
    Mod+Ctrl+Right { move-column-right; }
    Mod+Ctrl+Left { move-column-left; }
    Mod+Ctrl+Down { move-column-to-last; }
    Mod+Ctrl+Up { move-column-to-first; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
}
