layout {

    focus-ring {
        active-color   "#4dd9e5"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#4dd9e5"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#4dd9e5"
        inactive-color "#004f55"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#4dd9e580"
    }
}

recent-windows {
    highlight {
        active-color "#4dd9e5"
        urgent-color "#ffb4ab"
    }
}
