layout {

    focus-ring {
        active-color "#ffb599"
        inactive-color "#131313"
        urgent-color "#ffb4ab"
    }

    border {
        active-color "#ffb599"
        inactive-color "#131313"
        urgent-color "#ffb4ab"
    }

    shadow {
        on

        color "#241f31"

        softness 20
    }

    tab-indicator {
        active-color "#ffb599"
        inactive-color "#7b2f0a"
        urgent-color "#ffb4ab"
    }

    insert-hint {
        color "#ffb59980"
    }
}

recent-windows {
    highlight {
        active-color "#ffb599"
        urgent-color "#ffb4ab"
    }
}
